@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
    font-family: "Syne Mono", monospace;
}

table {
  border-collapse: collapse;
  position: relative;
}
td {
  width: 13px;
  height: 16px;
  background: #ecf0f8;
  border: .1px solid #9037a3;
}
td.active {
  background: #eb1b6e;
}

#exportContainer {
  position: relative;
  width: 100%;
}

#exportBox, input, a {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  overflow: auto;

  background: #ecf0f8;
  color: #eb1b6e;
  font-size: 14px;
  font-weight: bold;
  text-align: left;

  white-space: nowrap;
}

input, a {
  width: 250px;
  text-align: center;
  border: none;
  padding: 10px;
  height: auto;
  font-size: 20px;
}
a {
  padding: 11px;
}

#altText {
  display: none;
  z-index: 10;
  
  position: fixed;
  top: 0; left: 0;
  padding: 2px 6px;
  
  border: 2px solid #ecf0f8;
  border-radius: 10px;
  background: #9037a3;
  color: #ecf0f8;
  
}