@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

table {
  border-collapse: collapse;
  position: relative;
}
td {
  width: 16px;
  height: 18px;
  background: #ecf0f8;
  border: .1px solid #9037a3;
}
td.active {
  background: #eb1b6e;
}

#gridContainer>div>div{
  width: 100%;
  display: flex;
}
#gridContainer>div>div>div{
  width: 14px;
  height: 50px;
  line-height: 14px;
  overflow-wrap: anywhere;
}

#exportContainer {
  position: relative;
  width: 100%;
}

#exportBox, input, a {
  margin-top: 10px;
  width: 100%;
  height: 200px;
  overflow: auto;

  background: #ecf0f8;
  color: #eb1b6e;
  font-family: "Syne Mono", monospace;
  font-size: 14px;
  font-weight: bold;
  text-align: left;

  white-space: nowrap;
}

input, a {
  width: 250px;
  text-align: center;
  border: none;
  padding: 10px;
  height: auto;
  font-size: 20px;
}
a {
  padding: 11px;
}